{
    "schemes": ["https","http"],
    "swagger": "2.0",
    "info": {
        "description": "The API for Relay by Flume Health.\n\nFor more information about how Flume can power your health plan, please [contact us](mailto:sales@flumehealth.com).\n\n[Redoc](/api/docs/) | [Swagger - Try It](/api/swagger/)\n",
        "title": "Flume Console API",
        "contact": {},
        "version": "1.0",
        "x-logo": {
            "altText": "Flume Health",
            "url": "https://public-static.flume.health/front/logo-margin-512.png"
        }
    },
    "host": "console.flumehealth.com",
    "basePath": "/",
    "paths": {
        "/api/v1/accounts": {
            "get": {
                "description": "Lists Accounts.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "List Accounts",
                "operationId": "listAccounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "The page to request. Should be a previously-received nextPageToken",
                        "name": "pageToken",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Number of Accounts to return",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/account.ListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "post": {
                "description": "Creates an Account.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Create Account",
                "operationId": "createAccount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "description": "Account Body",
                        "name": "account",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/account.WriteModel"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/account.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}": {
            "get": {
                "description": "Gets an Account.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get Account",
                "operationId": "getAccount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "id of the account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/account.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "put": {
                "description": "Updates an Account.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Update Account With PUT",
                "operationId": "updateAccountWithPut",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "id of the account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Account Body",
                        "name": "account",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/account.UpdateModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/account.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "patch": {
                "description": "Updates an Account.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Update Account",
                "operationId": "updateAccount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "id of the account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Account Body",
                        "name": "account",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/account.UpdateModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/account.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}/config": {
            "get": {
                "description": "Gets an Account Config.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get Account Config",
                "operationId": "getAccountConfig",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "id of the account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/account.ReadAccountConfigModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "patch": {
                "description": "Updates an Account Config.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Update Account Config",
                "operationId": "updateAccountConfig",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "id of the account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Account Body",
                        "name": "account",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/account.UpdateAccountConfigModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/account.UpdateAccountConfigModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}/contracts": {
            "get": {
                "description": "List account contracts for a specific account",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account Contracts"
                ],
                "summary": "List Account Contracts",
                "operationId": "listAccountContracts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Page token for pagination",
                        "name": "pageToken",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page size for pagination",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/accountcontract.ListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "post": {
                "description": "Create a new account contract for a specific account",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account Contracts"
                ],
                "summary": "Create Account Contract",
                "operationId": "createAccountContract",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Account contract payload",
                        "name": "contract",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/accountcontract.WriteModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/accountcontract.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}/contracts/{contractId}": {
            "delete": {
                "description": "Delete an existing account contract",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account Contracts"
                ],
                "summary": "Delete Account Contract",
                "operationId": "deleteAccountContract",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Contract ID",
                        "name": "contractId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "patch": {
                "description": "Update an existing account contract",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Account Contracts"
                ],
                "summary": "Update Account Contract",
                "operationId": "updateAccountContract",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Account ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Contract ID",
                        "name": "contractId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Account contract update payload",
                        "name": "contract",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/accountcontract.UpdateModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/accountcontract.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/accounts/{id}/secret": {
            "get": {
                "description": "Get an account secret.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get Account Secret",
                "operationId": "getAccountSecret",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "id of the account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/secret.ApiCloudCredSecret"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/connections": {
            "get": {
                "description": "List Connections",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connections"
                ],
                "summary": "List Connections",
                "operationId": "listConnections",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "description": "List of ids to filter for. If empty, no filtration occurs.",
                        "name": "ids",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi",
                        "description": "List of endpoint IDs to filter for. If empty, no filtration occurs.",
                        "name": "endpointIds",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Field by which to sort results. Defaults to name asc. Options:created,name",
                        "name": "orderBy",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "If true, sorts in descending order",
                        "name": "orderDesc",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The page to request. Should be a previously-received nextPageToken",
                        "name": "pageToken",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Number of Connections to return",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/connection.ListResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "post": {
                "description": "Create Connection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connections"
                ],
                "summary": "Create Connection",
                "operationId": "createConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "description": "Connection body",
                        "name": "connection",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/connection.WriteModel"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/connection.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/connections/{id}": {
            "get": {
                "description": "Get Connection",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connections"
                ],
                "summary": "Get Connection",
                "operationId": "getConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Connection ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/connection.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "patch": {
                "description": "Update Connection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connections"
                ],
                "summary": "Update Connection",
                "operationId": "updateConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "id of the connection",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Connection body",
                        "name": "connection",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/connection.PatchModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/connection.ReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/approvers": {
            "get": {
                "description": "List PAM approvers. Requires can_grant_approvers permission.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "List Discovery Approvers",
                "operationId": "listDiscoveryApprovers",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Filter by email",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by active status (default: true)",
                        "name": "active",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page token for pagination",
                        "name": "pageToken",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Number of results per page",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ApproverListResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "post": {
                "description": "Create a new PAM approver. Requires can_grant_approvers permission.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Create Discovery Approver",
                "operationId": "createDiscoveryApprover",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "description": "Approver to create",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.ApproverCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/discovery.ApproverReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/approvers/{id}": {
            "get": {
                "description": "Get a specific PAM approver",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Get Discovery Approver",
                "operationId": "getDiscoveryApprover",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Approver ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ApproverReadModel"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/approvers/{id}:revoke": {
            "post": {
                "description": "Revoke a PAM approver's access. Requires can_grant_approvers permission.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Revoke Discovery Approver",
                "operationId": "revokeDiscoveryApprover",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Approver ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Revocation reason",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/discovery.ApproverRevokeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ApproverReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/connections": {
            "get": {
                "description": "List connections available for context discovery operations.\nSoft-deleted connections (`deletedAt != null`) are excluded by\ndefault; pass `includeDeleted=true` to see them in the response\n(useful for audit/recovery flows).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "List Discovery Connections",
                "operationId": "listDiscoveryConnections",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Filter by connection type",
                        "name": "connectionType",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by enabled status",
                        "name": "enabled",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Include soft-deleted connections (default false)",
                        "name": "includeDeleted",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page token for pagination",
                        "name": "pageToken",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Number of results per page",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ConnectionListResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "post": {
                "description": "Create a new connection for context discovery",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Create Discovery Connection",
                "operationId": "createDiscoveryConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "description": "Connection configuration",
                        "name": "connection",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.ConnectionWriteModel"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/discovery.ConnectionReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/connections/{id}": {
            "get": {
                "description": "Get a specific connection for context discovery",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Get Discovery Connection",
                "operationId": "getDiscoveryConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Connection ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ConnectionReadModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "delete": {
                "description": "Delete a discovery connection",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Delete Discovery Connection",
                "operationId": "deleteDiscoveryConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Connection ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "patch": {
                "description": "Update a connection for context discovery",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Update Discovery Connection",
                "operationId": "updateDiscoveryConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Connection ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Connection updates",
                        "name": "connection",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.ConnectionPatchModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ConnectionReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/connections/{id}:test": {
            "post": {
                "description": "Test connectivity to a discovery connection",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Test Discovery Connection",
                "operationId": "testDiscoveryConnection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Connection ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ConnectionTestResult"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/extractions": {
            "get": {
                "description": "List data extraction operations for discovery",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "List Extractions",
                "operationId": "listDiscoveryExtractions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Filter by session ID",
                        "name": "sessionId",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by requester (me, all, or email)",
                        "name": "requester",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page token for pagination",
                        "name": "pageToken",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Number of results per page",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ExtractionListResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "post": {
                "description": "Execute a data extraction (SQL query) against a connection",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Execute Extraction",
                "operationId": "executeDiscoveryExtraction",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "description": "Extraction parameters",
                        "name": "extraction",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.ExtractionCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/discovery.ExtractionResultModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Session expired or not approved",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "SQL validation failed",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/extractions/{id}": {
            "get": {
                "description": "Get a specific extraction with results",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Get Extraction",
                "operationId": "getDiscoveryExtraction",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Extraction ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.ExtractionResultModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/sessions": {
            "get": {
                "description": "List discovery access sessions (PAM requests)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "List Discovery Sessions",
                "operationId": "listDiscoverySessions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Filter by status (pending, approved, denied, expired, revoked)",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by requester (me, all)",
                        "name": "requester",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by grant type (data_access, approver_access)",
                        "name": "grantType",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Page token for pagination",
                        "name": "pageToken",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Number of results per page",
                        "name": "pageSize",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionListResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            },
            "post": {
                "description": "Request a new discovery access session (PAM request)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Request Discovery Session",
                "operationId": "createDiscoverySession",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "description": "Session request",
                        "name": "session",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/sessions/{id}": {
            "get": {
                "description": "Get a specific discovery access session",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Get Discovery Session",
                "operationId": "getDiscoverySession",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Session ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionReadModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/sessions/{id}/launches": {
            "post": {
                "description": "Record a single AI CLI tool launch under a subscription_access session. The session must exist, belong to the caller, be a subscription_access grant, be approved, and not be expired or revoked. The launch is written to the audit log (event=isolated_session_launch); the response is a resource-create shape so the backing store can move to a table later without changing the contract.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Record Subscription Session Launch",
                "operationId": "launchDiscoverySession",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Session ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Launch record",
                        "name": "launch",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionLaunchRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionLaunchResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/sessions/{id}:approve": {
            "post": {
                "description": "Approve a pending discovery access request",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Approve Discovery Session",
                "operationId": "approveDiscoverySession",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Session ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Approval comment",
                        "name": "approval",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionApproveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/sessions/{id}:cancel": {
            "post": {
                "description": "Cancel a pending discovery access request. Only the requester can cancel their own pending session.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Cancel Discovery Session",
                "operationId": "cancelDiscoverySession",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Session ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Cancellation reason",
                        "name": "cancellation",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionCancelRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionReadModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/responses.ErrorResponse"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2Implicit": [
                            "openid",
                            "profile",
                            "email"
                        ]
                    }
                ]
            }
        },
        "/api/v1/context/discovery/sessions/{id}:deny": {
            "post": {
                "description": "Deny a pending discovery access request",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Context Discovery"
                ],
                "summary": "Deny Discovery Session",
                "operationId": "denyDiscoverySession",
                "parameters": [
                    {
                        "type": "string",
                        "description": "X-Flume-Account-ID",
                        "name": "X-Flume-Account-ID",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Session ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Denial reason",
                        "name": "denial",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/discovery.SessionDenyRequest"
                        }
                    }
                ],
[...]
