openapi: 3.2.0
info:
  description: 'The API for Relay by Flume Health.


    For more information about how Flume can power your health plan, please [contact us](mailto:sales@flumehealth.com).


    [Redoc](/api/docs/) | [Swagger - Try It](/api/swagger/)

    '
  title: Flume Console Worker Sizes API
  contact: {}
  version: '1.0'
  x-logo:
    altText: Flume Health
    url: https://public-static.flume.health/front/logo-margin-512.png
servers:
- url: https://console.flumehealth.com/
- url: http://console.flumehealth.com/
tags:
- name: WorkerSizes
paths:
  /api/v1/workersizes:
    get:
      description: Lists Worker Sizes.
      tags:
      - WorkerSizes
      summary: List Worker Sizes
      operationId: listWorkerSizes
      parameters:
      - description: X-Flume-Account-ID
        name: X-Flume-Account-ID
        in: header
        schema:
          type: string
      - description: The page to request. Should be a previously-received nextPageToken
        name: pageToken
        in: query
        schema:
          type: string
      - description: Number of Endpoints to return
        name: pageSize
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workersize.ListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
      security:
      - OAuth2Implicit:
        - openid
        - profile
        - email
  /api/v1/workersizes/{id}:
    get:
      description: Gets a Worker Size by ID.
      tags:
      - WorkerSizes
      summary: Get Worker Size
      operationId: getWorkerSize
      parameters:
      - description: X-Flume-Account-ID
        name: X-Flume-Account-ID
        in: header
        schema:
          type: string
      - description: id of the workersize
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workersize.ReadModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
      security:
      - OAuth2Implicit:
        - openid
        - profile
        - email
    patch:
      description: Updates a Worker Size
      tags:
      - WorkerSizes
      summary: Update Worker Size
      operationId: updateWorkerSize
      parameters:
      - description: X-Flume-Account-ID
        name: X-Flume-Account-ID
        in: header
        schema:
          type: string
      - description: id of the workersize
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/workersize.ReadModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.ErrorResponse'
      security:
      - OAuth2Implicit:
        - openid
        - profile
        - email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/workersize.UpdateModel'
        description: Worker Size Body
        required: true
components:
  schemas:
    workersize.ReadModel:
      type: object
      properties:
        cpuLimit:
          type: integer
        id:
          type: integer
        label:
          $ref: '#/components/schemas/endpoint.WorkerSize'
        memoryLimit:
          type: integer
    endpoint.WorkerSize:
      type: string
      enum:
      - small
      - medium
      - large
      - xlarge
      - max
      x-enum-varnames:
      - WorkerSizeSmall
      - WorkerSizeMedium
      - WorkerSizeLarge
      - WorkerSizeXLarge
      - WorkerSizeMax
    workersize.ListResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        workerSizes:
          type: array
          items:
            $ref: '#/components/schemas/workersize.ReadModel'
    workersize.UpdateModel:
      type: object
      properties:
        cpuLimit:
          type:
          - integer
          - 'null'
        memoryLimit:
          type:
          - integer
          - 'null'
    responses.ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        details:
          type: array
          items:
            type: string
        message:
          type: string
  securitySchemes:
    OAuth2Implicit:
      type: oauth2
      flows:
        implicit:
          scopes:
            email: User email address
            openid: OpenID Connect scope
            profile: User profile information
          authorizationUrl: https://auth.flumehealth.com/authorize?audience=https://console.flumehealth.com/api
